{% extends "base.html.twig" %}

{% block title %}
	{{ parent() }}
	Ajouter un Avis
{% endblock %}

{% block content %}
	<div class="container-fluid">
		<div class="row justify-content-center">
			<div class="col-12 col-md-10">
				<h1 class="text-center"> Avis </h1>
                {% for avis in aviss %}
					{{ avis.id_avis }}
					{{ avis.label_avis }}
					{{ avis.id_product }}
					{% endfor %}
				</div>
			</div>
		</div>
	{% endblock %}